
/* Variables CSS */

:root {
  --header-height: 3.5rem;

  /*  Color base  */
  --hue-color: 210;

  --first-color: hsl(var(--hue-color),100%, 41%);
  --first-color-secundary: hsl(var(--hue-color),100%, 60%);
}

/* Global Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'IBM Plex Sans', sans-serif;;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;

}
ul {
  list-style: none;
}

/* Layout */

.section {
  padding: 4.5rem 0 2rem;
}
.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.header {
  width: 100%;
  background-color: #007AF0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background .3s;
}

/* === Navigation === */

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle {
  color: white;
  letter-spacing: .5px;
  display: flex;
}
.nav__logo {
  align-items: center;
  column-gap: .5rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.nav__logo img {
  width: 2.5rem;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__list {
  padding: 5rem  0 0 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.nav__link {
  color: black;
  transition: color .3s;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    background-color: white;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    transition: right .3s;
  }
}

.show-menu {
  right: 0;
}

/* === Hero === */

.hero{
  color: white;
  position: relative;
  padding-bottom: 0;
  background-color: #0069D0;
}

.hero__container {
  padding-top: 4rem;
  row-gap: 3rem;
}

.hero__data {
  text-align: center;

}
.hero__title {
  font-size: 2rem;
  font-weight: 600;
  margin: .5rem 0;
}
.hero__description {
  margin-bottom: 2.5rem;
  letter-spacing: .25px;
  line-height: 1.5rem;
}
.hero__img {
  display: block;
  position: relative;
  width: 350px;
  margin: 0 auto;
  z-index: 2;
}
.hero__triangle {
  height: 305px;
  position: absolute;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  width: 305px;
  background-color: #003A79;
  z-index: 0;
}

/* === Button === */

.button {
  display: inline-block;
  background-color: #003A79;
  padding: 18px 40px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: .3s;
}

.button:hover {
  background-color: #003C89;
}

/* === Services === */

.services__data {
  text-align: center;
}
.services__description {
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: .25px;
}
.services__title {
  color: #3C5BA9;
  margin: .5rem 0;
}

.services__service img {
  display: block;
  position: relative;
  width: 350px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* === About The App === */

.about-the-app {
  background: #0069D0;
  position: relative;
}

.about-the-app__data {
  text-align: center;
}
.about-the-app__description {
  color: white;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: .25px;
}
.about-the-app__title {
  color: white;
  padding-bottom: 1rem;
}
.about-the-app__container iframe {
  display: block;
  position: relative;
  width: 350px;
  margin: 1.5rem auto;
}

/* === Physiotherapist Program === */

.physiotherapist-program {
  position: relative;
  padding-bottom: 0;
}
.physiotherapist-program__container span {
  color: #003A79;
}
.physiotherapist_program__data {
  text-align: center;
}
.physiotherapist-program__title {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.physiotherapist-program__description {
  margin-bottom: 2.5rem;
  letter-spacing: .25px;
  line-height: 1.5rem;
}
.physiotherapist-program__container img {
  display: block;
  position: relative;
  width: 300px;
  padding-top: 1rem;
  margin: 0 auto;
  z-index: 10;
}
.physiotherapist-program__triangle {
  height: 450px;
  position: absolute;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  width: 450px;
  background-color: #003A79;
  z-index: 0;
}

/* === Physiotherapist Services === */

.physiotherapist-services {
  position: relative;
  padding-bottom: 0;
}
.physiotherapist-services__data {
  text-align: center;
}
.physiotherapist-services__description {
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: .25px;
}
.physiotherapist-services__title {
  color: #3C5BA9;
  margin: .5rem 0;
}

.physiotherapist-services__service img {
  display: block;
  position: relative;
  width: 350px;
  margin: 0 auto;
  padding-bottom: 1rem;
}

/* === Testimonials === */

.testimonials {
  position: relative;
  background-color: #0069D0;
}
.section__data {
  color: white;
  text-align: center;
}
.section__title {
  padding-bottom: 2rem;
}
.testimonials__container img {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  z-index: 12;
  padding-bottom: .5rem;
}

/* === Testimonials Cards === */

.testimonials__card {
  border-radius: 1.5rem;
  display: block;
  padding-top: 1.5rem;
  position: relative;
  width: 350px;
  background: #4070F4;
  margin: 0 auto 1.5rem;
}

.testimonials__card span {
  color: #003C89;
}
.testimonials__card-description {
  text-align: center;
  background: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 1.5rem;
}
.testimonials__card-name {
  padding-bottom: .5rem;
}
.testimonials__card-info {
  line-height: 1.5rem;
}

/* === About Us === */

.about-us {
  position: relative;
}
.about-us__data {
  text-align: center;
}
.about-us__title {
  padding-bottom: 1rem;
  color: #003C89;
}
.about-us__subtitle {
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: .25px;
}
.about-us__container iframe {
  display: block;
  position: relative;
  width: 350px;
  margin: 1.5rem auto;
}

/* === Footer === */

.footer {
  background: black;
}
.footer__logo {
  color: white;
  letter-spacing: .5px;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}
.footer__logo img {
  height: 3.5rem;
}
.footer__title {
  color: white;
  margin-bottom: .5rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  color: white;
  padding-bottom: 1.5rem;
}

.footer__links-item a {
  color: white;
}
.footer__social-list{
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.social-icon {
  font-size: 2.5rem;
  color: white;
}
.contact-icon {
  font-size: 1.5rem;
  padding-right: 1rem;
}

/*  ==== Break Points ==== */

/* Small Devices */
@media screen and (max-width: 340px) {

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }


  /* === Hero === */
  .hero__img {
    width: 225px;
  }
  .hero__title {
    font-size: 1.5rem;
  }
  .hero__description {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .hero__triangle {
    height: 175px;
  }

  /* === Services === */
  .services__title {
    font-size: 1.2rem;
  }
  .services__description {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .services__container img {
    width: 225px;
  }
  /* === About The App === */
  .about-the-app__title {
    font-size: 1.5rem;
  }
  .about-the-app__description {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .about-the-app__container iframe {
    width: 250px;
  }

  /* === Physiotherapist Program === */

  .physiotherapist-program__container img {
    width: 225px;
  }
  .physiotherapist-program__triangle {
    width: 325px;
    height: 350px;
  }

  /* === Physiotherapist Services === */

  .physiotherapist-services__title {
    font-size: 1.2rem;
  }
  .physiotherapist-services__description {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .physiotherapist-services__container img {
    width: 225px;
  }

  /* === Testimonials === */

  .testimonials__card {
    width: 250px;
  }

  /* === Testimonials === */
  .about-us__container iframe {
    width: 250px;
  }

  /* === Footer === */
  .footer__title {
    font-size: 1rem;
  }
  .footer__links-item {
    font-size: 0.9rem;
  }
  .footer__contact-item {
    font-size: 0.8rem;
  }
  .contact-icon {
    font-size: 1.2rem;
  }
  .social-icon {
    font-size: 1.7rem;
  }
}

/* Medium Devices */
@media screen and (min-width: 768px) {

  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__logo,
  .nav__toggle {
    font-size: 1.5rem;
  }
  .nav__logo img {
    width: 3.5rem;
  }
  /* === Hero === */
  .hero__img {
    width: 425px;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__description {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .button {
    font-size: 1.25rem;
    padding: 18px 60px;
  }
  .hero__triangle {
    height: 325px;
    width: 425px;
  }

  /* === Services === */
  .services__title {
    font-size: 2rem;
  }
  .services__description {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .services__container img {
    width: 425px;
  }
  /* === About The App === */
  .about-the-app__title {
    font-size: 2rem;
  }
  .about-the-app__description {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .about-the-app__container iframe {
    width: 575px;
  }

  /* === Physiotherapist Program === */
  .physiotherapist-program__title {
    font-size: 2rem;
  }
  .physiotherapist-program__description {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .physiotherapist-program__container img {
    width: 325px;
  }
  .physiotherapist-program__triangle {
    width: 800px;
    height: 450px;
  }

  /* === Physiotherapist Services === */

  .physiotherapist-services__title {
    font-size: 2rem;
  }
  .physiotherapist-services__description {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .physiotherapist-services__container img {
    width: 425px;
  }

  /* === Physiotherapist Services === */
  .about-us__title {
    font-size: 2rem;
  }
  .about-us__subtitle {
    font-size: 1.25rem;
  }
  .about-us__container iframe {
    width: 575px;
  }
  /* === Testimonials === */
  .section__title {
    font-size: 2rem;
  }
  .testimonials__card {
    width: 450px;
  }
  .testimonials__card-description {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  /* === Footer === */
  .footer__logo {
    font-size: 1.5rem;
  }
  .footer__logo img {
    height: 4.5rem;
  }
  .footer__title {
    font-size: 1.5rem;
  }
  .footer__links-item {
    font-size: 1rem;
  }
  .footer__contact-item {
    font-size: 1rem;
  }
  .contact-icon {
    font-size: 1.2rem;
  }
  .social-icon {
    font-size: 2.5rem;
  }
}